.giftscards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}
.giftscards__wrapper .card {
  width: 48%;
}
.giftscards__wrapper .card:nth-child(2n) {
  margin-left: 10px;
}
.giftscards__wrapper .card__img img {
  padding: 20px;
}

@media (min-width: 600px) {
  .giftscards__wrapper .card__img img {
    padding: 74px 40px;
  }
}
@media (min-width: 890px) {
  .giftscards__wrapper .card:nth-child(3) {
    margin-left: 10px;
  }
}
@media (min-width: 1190px) {
  .giftscards__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .giftscards__wrapper .card {
    margin: 0;
  }
}