@charset "UTF-8";
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;
  width: 100%;
}

.btn {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.btn__green {
  background-color: rgba(86, 149, 135, 0.9);
  color: #fff;
}
.btn__green:hover {
  background-color: #569587;
}

.btn__white {
  background-color: #FFFFFF;
  border: 1px solid rgba(86, 149, 135, 0.9);
  color: rgba(86, 149, 135, 0.9);
}
.btn__white:hover {
  color: #FFFFFF;
  background-color: rgba(86, 149, 135, 0.9);
}

.radius {
  border-radius: 8px;
}

.green {
  color: #569587;
}

.bg__white {
  background-color: #fff;
}

.input {
  display: inline-block;
  margin-top: 4px;
  border-style: none;
  border: 1.5px solid #C4C4C4;
  height: 52px;
  width: 100%;
  padding: 12px;
}

.label {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.cp {
  cursor: pointer;
}

.modal__content {
  height: 100vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.link:hover {
  text-decoration: underline;
}

.around {
  border-radius: 50%;
}

.white-eye {
  display: none;
}

.h1 {
  font-family: "SilkSerif-Italic";
  color: #1A1A1A;
}
@media (min-width: 890px) {
  .h1 {
    font-size: 56px;
    line-height: 76px;
    display: inline-block;
    position: relative;
  }
}

.sup {
  font-family: "Nunito-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}
@media (min-width: 890px) {
  .sup {
    font-family: "Nunito-SemiBold";
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    position: absolute;
    top: 5px;
    right: -20px;
  }
}

.icon {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon:hover {
  background-color: #000;
}
.icon:hover .white-eye {
  display: block;
}
.icon:hover .black-eye {
  display: none;
}

.form__search {
  margin: 40px auto;
  max-width: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #1A1A1A;
  padding-bottom: 8px;
}
.form__search input {
  max-width: 364px;
  width: 100%;
  padding-right: 10px;
  background-color: transparent;
}
.form__search input::-webkit-input-placeholder {
  font-family: "Nunito-Regular";
  font-size: 16px;
  line-height: 28px;
}
.form__search input::-moz-placeholder {
  font-family: "Nunito-Regular";
  font-size: 16px;
  line-height: 28px;
}
.form__search input:-ms-input-placeholder {
  font-family: "Nunito-Regular";
  font-size: 16px;
  line-height: 28px;
}
.form__search input::-ms-input-placeholder {
  font-family: "Nunito-Regular";
  font-size: 16px;
  line-height: 28px;
}
.form__search input::placeholder {
  font-family: "Nunito-Regular";
  font-size: 16px;
  line-height: 28px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Nunito-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
  margin-top: 40px;
}
.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  font-weight: 600;
  content: "/ ";
}
.breadcrumb li:last-child {
  color: #828282;
}

.card {
  max-width: 280px;
  width: 100%;
}
.card__img {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  background: #FCF9F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__info {
  padding: 16px 0;
  font-family: "Nunito-SemiBold";
  color: #1A1A1A;
}
.card__info div:not(:first-child) {
  margin-top: 4px;
}
.card__info-name {
  font-size: 14px;
  line-height: 20px;
  color: #1A1A1A;
}
.card__info-category {
  font-family: "Nunito-Regular";
  font-size: 12px;
  line-height: 16px;
}
.card__info-stock {
  font-size: 12px;
  line-height: 16px;
  color: #569587;
}
.card__info__price {
  font-size: 14px;
  line-height: 20px;
}

.banner {
  margin-bottom: 24px;
  background-color: #FCF9F4;
}
.banner-info {
  padding: 0 20px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 20px;
}
.banner-info__title {
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 36px;
}
@media (min-width: 890px) {
  .banner-info__title {
    font-size: 56px;
    line-height: 76px;
    position: relative;
    display: inline-block;
  }
}
.banner-info__title sup {
  line-height: 20px;
  font-size: 14px;
}
@media (min-width: 890px) {
  .banner-info__title sup {
    font-family: "Nunito-SemiBold";
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    position: absolute;
    top: 5px;
    right: -20px;
  }
}
.banner-info__text {
  font-family: "Nunito-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}
@media (min-width: 890px) {
  .banner-info__text {
    max-width: 468px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 890px) {
  .banner-info {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .banner-info {
    margin-left: calc((100vw - 1180px) / 2);
    padding-left: 0;
  }
}
.banner-img {
  width: 100%;
}
.banner-img img {
  width: 100%;
  min-height: 312px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 890px) {
  .banner-img {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .banner-img {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .banner-img {
    margin-right: calc((100vw - 1180px) / 2 - 120px);
  }
}
@media (min-width: 600px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}